// Docs Theme Variables
// ========================================================================

// Color
$global-color: #000000;
$global-muted-color: #8f919e;
$global-primary-background: #28ca69;
$global-secondary-background: #222;
$global-warning-background: #fbc418;
$global-success-background: #403e56;
$global-danger-background: #f0506e;
$base-link-color: $global-primary-background;
$base-link-hover-color: $global-primary-background;
$link-muted-hover-color: $global-muted-color;
$white: #fff !default;

$grey-dk-000: #959396 !default;
$grey-dk-100: #5c5962 !default;
$grey-dk-200: #44434d !default;
$grey-dk-250: #302d36 !default;
$grey-dk-300: #27262b !default;

$grey-lt-000: #f5f6fa !default;
$grey-lt-100: #eeebee !default;
$grey-lt-200: #ecebed !default;
$grey-lt-300: #e6e1e8 !default;

$purple-000: #7253ed !default;
$purple-100: #5e41d0 !default;
$purple-200: #4e26af !default;
$purple-300: #381885 !default;

$blue-000: #2c84fa !default;
$blue-100: #2869e6 !default;
$blue-200: #264caf !default;
$blue-300: #183385 !default;

$green-000: #41d693 !default;
$green-100: #11b584 !default;
$green-200: #009c7b !default;
$green-300: #026e57 !default;

$yellow-000: #ffeb82 !default;
$yellow-100: #fadf50 !default;
$yellow-200: #f7d12e !default;
$yellow-300: #e7af06 !default;

$red-000: #f77e7e !default;
$red-100: #f96e65 !default;
$red-200: #e94c4c !default;
$red-300: #dd2e2e !default;

// Font
$global-font-family: system-ui;
$global-xxlarge-font-size: 2.25rem; // H1
$global-xlarge-font-size: 1.6875rem; // H2
$global-large-font-size: 1.375rem; // H3
$global-medium-font-size: 1.125rem; // H4
$global-small-font-size: 0.875rem;
$xsmall-font-size: 0.8125rem;
$heading-primary-font-size: 2.875rem;
$heading-primary-font-size-m: 3.75rem;
$base-heading-font-weight: bold;
$base-heading-margin-top: 50px;
$base-h2-line-height: 1.4;
$text-lead-font-size: 1.125rem;
$text-lead-color: $global-muted-color;

//
// Font size
// `-sm` suffix is the size at the small (and above) media query
//

$font-size-1: 9px !default;
$font-size-1-sm: 10px !default;
$font-size-2: 11px !default; //h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 12px !default; //h5
$font-size-4: 14px !default;
$font-size-5: 16px !default; //h3
$font-size-6: 18px !default; //h2
$font-size-7: 24px !default;
$font-size-8: 32px !default; //h1
$font-size-9: 36px !default;
$font-size-10: 42px !default;
$font-size-10-sm: 48px !default;

// Borders
$global-border: #e5e5e5;
$border-light: #ebecee;
$border-xlight: #f5f5f5;
$border: 1px solid !default;
$border-radius: 4px !default;
$border-color: $grey-lt-100 !default;

// Border radius
$border-rounded-border-radius: 5px;
$border-radius-small: 8px;
$border-radius-medium: 12px;
$border-radius-large: 16px;

// Pre & Code
$base-code-font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
  DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
$base-code-color: darken($global-primary-background, 3%);
$base-pre-font-size: $global-small-font-size;
$base-pre-line-height: 1.65;
$base-pre-font-family: $base-code-font-family;
$base-pre-color: $base-code-color;

// Container
$container-xxsmall: 560px;

// Box shadow
$global-medium-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
$global-large-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.12);
$global-xlarge-box-shadow: 0 28px 50px rgba(0, 0, 0, 0.16);

// Logo
$logo-font-size: 1.5rem;
$logo-color: $global-color;
$logo-hover-color: $global-color;

// Table
$table-divider-border: $border-light;

// Buttons
$button-default-color: $global-secondary-background;
$button-default-hover-background: $global-secondary-background;
$button-default-hover-color: #fff;
$button-default-active-background: $global-secondary-background;
$button-default-active-color: #fff;
$button-default-border: $global-secondary-background;
$button-default-hover-border: $global-secondary-background;
$button-default-active-border: $global-secondary-background;
$button-warning-background: $global-warning-background;
$button-warning-hover-background: darken($button-warning-background, 7%);
$button-success-background: $global-success-background;
$button-success-hover-background: darken($button-success-background, 5%);

// Label
$label-font-size: $xsmall-font-size;
$label-border-radius: 20px;
$label-text-transform: unset;
$label-padding-vertical: 2px;

// Navbar
$navbar-background: #fff;
$navbar-nav-item-color: $global-color;
$navbar-nav-item-hover-color: $global-primary-background;
$navbar-nav-item-active-color: $global-primary-background;
$navbar-nav-item-font-size: 0.9375rem;
$navbar-nav-item-text-transform: none;
$navbar-toggle-color: $global-color;
$navbar-toggle-hover-color: $global-primary-background;

// Navbar dropdown
$navbar-dropdown-margin: 1px;
$navbar-dropdown-nav-item-color: $global-color;
$navbar-dropdown-nav-item-hover-color: $global-primary-background;
$navbar-dropdown-nav-item-active-color: $global-primary-background;

// Subnav
$subnav-item-color: $global-muted-color;
$subnav-item-hover-color: $global-color;
$subnav-item-active-color: $global-color;
$subnav-item-text-transform: none;

// Pagination links
$pagination-item-color: $global-color;
$pagination-item-hover-color: $global-color;

// Article
$article-meta-font-size: $xsmall-font-size;
$article-meta-line-height: 1.4;
$article-title-line-height: 1.4;
$article-title-font-size: 2.125rem;

// Section
$section-padding-vertical-m: 60px;

// Card
$card-small-body-padding-horizontal: 25px;
$card-small-body-padding-vertical: 25px;
$card-body-padding-vertical-l: 50px;
$card-default-color: $global-muted-color;
$card-default-title-color: $global-color;

// Offcanvas
$offcanvas-bar-color-mode: dark;
$offcanvas-bar-background: #fff;
$offcanvas-bar-width: 320px;

// Search
$search-color: $global-color;
$search-placeholder-color: #6e747c; //$global-muted-color;
$search-icon-color: #6e747c; //$global-muted-color;
$search-default-border: $border-xlight;
$search-default-background: #fff;

// Accordion
$accordion-item-margin-top: 16px;
$accordion-title-font-size: $global-medium-font-size;
$accordion-title-color: $global-primary-background;
$accordion-title-hover-color: $global-primary-background;
$accordion-content-margin-top: 16px;
$accordion-icon-color: $global-primary-background;
$accordion-icon-background-color: lighten($global-primary-background, 57%);
$internal-accordion-open-image: "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='#000' stroke-width='1.03' points='4 13 10 7 16 13' /%3E%3C/svg%3E";
$internal-accordion-close-image: "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='#000' stroke-width='1.03' points='16 7 10 13 4 7' /%3E%3C/svg%3E";

// Featured
$featured-right-image: "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='#000' stroke-width='1.03' points='7 4 13 10 7 16' /%3E%3C/svg%3E%0A";

// Doc navigation
$docs-sidebar-width: 260px;
$docs-sidebar-width-l: 360px;

// Changelog
$timeline-border-width: 4px;
$timeline-dot-diameter: 20px;

//
// Spacing
//

$spacing-unit: 1rem; // 1rem == 16px

$spacers: (
  sp-0: 0,
  sp-1: $spacing-unit * 0.25,
  sp-2: $spacing-unit * 0.5,
  sp-3: $spacing-unit * 0.75,
  sp-4: $spacing-unit,
  sp-5: $spacing-unit * 1.5,
  sp-6: $spacing-unit * 2,
  sp-7: $spacing-unit * 2.5,
  sp-8: $spacing-unit * 3,
  sp-9: $spacing-unit * 3.5,
  sp-10: $spacing-unit * 4,
) !default;

$sp-1: map-get($spacers, sp-1) !default; // 0.25 rem == 4px
$sp-2: map-get($spacers, sp-2) !default; // 0.5  rem == 8px
$sp-3: map-get($spacers, sp-3) !default; // 0.75 rem == 12px
$sp-4: map-get($spacers, sp-4) !default; // 1    rem == 16px
$sp-5: map-get($spacers, sp-5) !default; // 1.5  rem == 24px
$sp-6: map-get($spacers, sp-6) !default; // 2    rem == 32px
$sp-7: map-get($spacers, sp-7) !default; // 2.5  rem == 40px
$sp-8: map-get($spacers, sp-8) !default; // 3    rem == 48px
$sp-9: map-get($spacers, sp-9) !default; // 3.5  rem == 56px
$sp-10: map-get($spacers, sp-10) !default; // 4  rem == 64px

$content-width: 800px !default;
$nav-width: 264px !default;
$border-radius: 4px !default;
$search-results-width: $content-width - $nav-width !default;
$search-result-preview-color: $grey-dk-000 !default;
$search-background-color: #ffffff !default;
$gutter-spacing-sm: $sp-4 !default;
$body-background-color: #ffffff !default;
$gutter-spacing: $sp-6 !default;
$link-color: $global-primary-background !default;
$sidebar-color: $grey-lt-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;