{% if menu %} {% assign isSubmenu = include.submenu %}
{{ data.menus.home }}
<ul
  class="sidebar-nav nav-parent-icon {% if include.submenu %}sidebar-nav-sub{% else %}root-menu{% endif %}"
>
  {% for item in menu %} {% if item.children %}
  <li
    class="nav-parent menu-item-{{ forloop.index }} {% if item.url == page.url %}nav-active{% endif %}"
  >
    <a href="{{ item.url }}" title="Go to {{ item.title }}" class="menu-link"
      >{{ item.title }}</a
    >
    {% assign menu = item.children %} {% include menus.html submenu="yes" %}
  </li>
  {% else %}
  <li
    class="menu-item-{{ forloop.index }} {% if item.url == page.url %}nav-active{% endif %}"
  >
    <a href="{{ item.url }}" title="Go to {{ item.title }}" class="menu-link"
      >{{ item.title }}</a
    >
  </li>
  {% endif %} {% endfor %}
</ul>
{% endif %}
