<div class="uk-section">123
  <div class="uk-container">456
    <div class="uk-grid-large" data-uk-grid>789
      <div class="sidebar-fixed-width uk-visible@m">101112
        <div class="sidebar-docs docs-nav">131415
          {% assign menu = site.data.menus.main %} {% include menus.html %}
        </div>
      </div>
      <div class="uk-width-1-1 uk-width-expand@m">
        <article class="uk-article">
          {% if page.toc %}
            {% include toc.html html=content %}
          {% endif %}
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</div>
