<div class="uk-section">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid-large" data-uk-grid>
      <div class="sidebar-fixed-width uk-visible@m">
        <div class="sidebar-docs docs-nav uk-position-fixed uk-margin-top">
          {% assign menu = site.data.menus.main %} {% include menus.html %}
        </div>
      </div>
      {% if page.toc %}
      <div class="uk-width-1-2@m uk-column-divider uk-position-relative main-content-margin">
        <article class="uk-article">
          {{ content }}
        </article>
        <div class="tm-sidebar-right uk-visible@m">
          <div uk-sticky="offset: 140" class="uk-sticky uk-active uk-sticky-below uk-sticky-fixed">
          {% include toc.html html=content class="uk-scrollspy-nav" ukscrollspynav="closest: li; scroll: true; offset: 130" h_min=2 h_max=3 %}
          </div>
        </div>
      </div>
      {% else %}
      <div class="uk-width-1-2@m uk-column-divider uk-position-relative">
        <article class="uk-article">
          {{ content }}
        </article>
        <div class="tm-sidebar-right uk-visible@m"></div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
