<div class="uk-margin-large-top paginate-post">
  <div class="uk-child-width-expand@s uk-grid-large uk-pagi" data-uk-grid>
    <div>
      {% if page.previous_title and page.previous_url %}
      <hr>
      <h5>{{page.previous_title}}</h5>
      <div>
        <a class="remove-underline hvr-back" href="{{page.previous_url}}"
          >&larr; {{ site.data.translation[site.lang].previous | default:
          "Previous" }}</a
        >
      </div>
      {% endif %}
    </div>
    <div>
      {% if page.next_title and page.next_url %}
      <hr>
      <h5 class="uk-text-right">{{page.next_title}}</h5>
      <div class="uk-text-right">
        <a class="remove-underline hvr-forward" href="{{page.next_url}}"
          >{{ site.data.translation[site.lang].next | default: "Next" }}
          &rarr;</a
        >
      </div>
      {% endif %}
    </div>
  </div>
</div>
