---
# Only the main Sass file needs front matter (the dashes are enough)
---

// System fonts
@import "system-font-css/_system-font";

// Custom variables and variable overwrites.
@import "theme/variables";

// Import default variables and available mixins.
@import "uikit/variables-theme";
@import "uikit/mixins-theme";

// Custom mixin overwrites.
@import "theme/mixins";

// Import UIkit.
@import "theme/uikit";

// Other vendor styles
@import "syntax-highlighting/github";
//@import "syntax-highlighting/bw";

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

em {
  color: $global-color;
  font-style: italic;
}

h1,
.uk-h1 {
  border-bottom: 1px solid $global-primary-background;
  padding-bottom: 10px;
}

blockquote {
  border-left: 4px solid $global-primary-background;
  padding: 10px 0 10px 10px;

  cite {
    display: inline-block;
    font-style: italic;
    margin-top: 10px;
  }
}

hr,
.uk-hr {
  border-top: 1px solid $global-primary-background;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: auto;

  caption {
    font-size: 0.7rem;
  }

  tr {
    border: 1px solid #ddd;
    padding: 0.35em;
  }

  th {
    background-color: #f4f4f4;
    padding-left: 5px;

    &:first-child {
      padding-left: 5px;
    }
  }
  td {
    padding-left: 5px;

    &:first-child {
      padding-left: 5px;
    }
  }
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      background-color: #f1f1f1;
      display: block;
      margin-bottom: 0.625em;
    }
    td {
      display: block;
      text-align: left;
      &::before {
        content: attr(data-label);
        float: left;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
.top-navbar-sticky {
  width: 100%;
  background-color: #fff;
  z-index: 2;
}
.main-content-margin {
  margin-top: 80px;
}
.tm-sidebar-right {
  left: calc(100% + 60px);
  position: absolute;
  top: 0;
  width: 200px;

  .uk-sticky {
    border-left: 1px solid $global-primary-background;
    padding: 5px 10px 10px 15px;
    font-size: 12px;
    position: relative;
    z-index: 1;

    &::before {
      content: "On this page";
      text-transform: uppercase;
      padding: 5px 0 5px 0;
      display: block;
    }
  }

  ul {
    padding: 5px 5px 5px 0;
    list-style: none;

    ul {
      padding: 5px 5px 0 8px;
    }
  }

  li {
    margin-bottom: 10px;
    list-style: none;
    line-height: 15px;

    &:first-child {
      margin-top: 5px;
      list-style: none;
    }

    &.uk-active {
      > a {
        &::before {
          content: "â¯";
          position: absolute;
          left: 5px;
          color: $global-primary-background;
          transition: all 1.5s;
        }
      }
    }

    a {
      color: #666;
      transition: all 0.5s;
      &:hover {
        color: #000;
        text-decoration: none;
      }
    }

    &.uk-active > a {
      color: $global-primary-background;
      transition: all 0.5s;
    }
  }
}
.uk-scrollspy-nav {
  & > .uk-active {
    color: $global-primary-background;
  }
}

.sidebar-docs {
  > ul {
    > li {
      font-weight: bold;
      font-size: 16px;
      line-height: 1.4;
      > ul {
        > li {
          font-weight: normal;
          font-size: 14px;
        }
      }
    }
  }
}
.sidebar-docs {
  ul {
    list-style: none;
    list-style-position: outside;
    padding: 0;
    position: relative;

    li {
      padding: 6px 0 0 0;
    }
  }
}
.sidebar-nav {
  font-size: 0.875rem;
  ul {
    li {
      list-style: none;
      list-style-position: outside;
      padding: 6px 0 0 0;
      position: relative;
    }
  }
  a {
    text-decoration: none;
    color: #666;
    padding-right: 15px;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
  & {
    > li.nav-active {
      > a {
        border-bottom: 2px solid $global-primary-background;
      }
    }
    > ul {
      > li.nav-active {
        > a {
          border-bottom: 2px solid $global-primary-background;
        }
      }
    }
  }
  .nav-parent {
    position: relative;
    > .parent-icon {
      width: 1.5em;
      height: 1.5em;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0A%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      position: absolute;
      top: 6px;
      right: 0;

      img {
        width: 1.5em;
        height: 1.5em;
      }
    }
    &.nav-active {
      > a {
        border-bottom: 2px solid $global-primary-background;
      }
    }
    ul {
      li {
        list-style: none;
        list-style-position: outside;
        padding: 6px 0 0 0;
        position: relative;
      }
    }
  }
  .nav-parent.nav-open {
    > .parent-icon {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0A%3C%2Fsvg%3E");
    }
  }
  .parent-icon {
    &:hover {
      cursor: pointer;
    }
  }
  .nav-active {
    a {
      color: #000;
    }
  }
  .nav-open {
    display: block;
    > ul {
      display: block;
    }
  }
  .sidebar-nav-sub {
    padding: 0 0 5px 15px;
    display: none;
    a {
      color: #8f919e;
      &:hover {
        color: #000;
      }
    }
    > li.nav-active {
      > a {
        color: #000;
      }
    }
  }
}
.uk-offcanvas-bar {
  .sidebar-docs {
    margin-left: 9px;
    ul {
      li {
        padding: 10px 0 0 0;
      }
    }
  }
  .sidebar-nav {
    .nav-parent {
      ul {
        li {
          padding: 10px 0 0 0;
        }
      }
    }
  }
}
@media screen and (max-width: 539px) {
  .search-container {
    position: absolute;
    top: 85px;
    left: 50%;
    width: 280px;
    margin-right: 0;
  }
  .search {
    position: relative;
    left: -50%;
  }
  .search-active {
    .search {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
  .uk-article {
    margin-top: 10px;
  }
}
