---
# Only the main Sass file needs front matter (the dashes are enough)
---

// System fonts
@import "system-font-css/_system-font";

// Custom variables and variable overwrites.
@import "theme/variables";

// Import default variables and available mixins.
@import "uikit/variables-theme";
@import "uikit/mixins-theme";

// Custom mixin overwrites.
@import "theme/mixins";

// Import UIkit.
@import "theme/uikit";

// Other vendor styles
@import "syntax-highlighting/github";
//@import "syntax-highlighting/bw";

html {
    scroll-behavior: smooth;
  }
  
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

em {
    color: $global-color;
    font-style: italic;
}
blockquote{
    border-left: 4px solid $global-primary-background;
    padding: 10px 0 10px 10px;

    cite{
        display: inline-block;
        font-style: italic;
        margin-top: 10px;
    }
}

hr, .uk-hr {
    border-top: 1px solid $global-primary-background;
}
table {
    caption{
        font-size: .7rem;
    }
    th{
        background-color: #f4f4f4;
    }
    td{
        padding-left: 10px;
    }
}

.tm-sidebar-right {
  left: calc(100% + 60px);
  position: absolute;
  top: 0;
  width: 200px;

  .uk-sticky {
    border-left: 1px solid $global-primary-background;
    padding: 5px 10px 10px 15px;
    font-size: 12px;
    position: relative;

    &::before {
        content: "On this page";
        text-transform: uppercase;
        padding: 5px 0 5px 0;
        display: block;
      }
  }

  ul {
    padding: 0 5px;
    list-style: none;
  }

  li {
    margin-bottom: 10px;
    list-style: none;
    line-height: 15px;

    &:first-child {
      margin-top: 5px;
      list-style: none;
    }

    &.uk-active > a::before {
      content: "â¯";
      position: absolute;
      left: 8px;
      color: $global-primary-background;
      transition: all 1.5s;
    }

    a {
      color: #666;
      transition: all 0.5s;
      &:hover {
        color: #000;
        text-decoration: none;
      }
    }

    &.uk-active > a {
      color: $global-primary-background;
      transition: all 0.5s;
    }
  }
}
.uk-scrollspy-nav {
  & > .uk-active {
    color: $global-primary-background;
  }
}
