<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body{% if site.internal %} class="internal-site"{% endif %}>
     
    {% if page.hero %}
        {% include hero.html %}
    {% else %}
        {% include navbar.html %}
    {% endif %}

    {% include navbar-side-catalogue.html %}

    {% include offcanvas.html %}

    {% include hook-pre-closing-body.html %}
    {% if site.search_enabled != false %}
        {% if site.search.button %}
        <button href="#" id="search-button" class="search-button">
            {% octicon search height:24 %}
        </button>
        {% endif %}

        <div class="search-overlay"></div>
    {% endif %}
    </body>

</html>
