---
layout: default
title: page.title
toc: true
h_min: 2
h_max: 4
breadcrumbs: page.breadcrumbs
---

<h1>{{page.title}}</h1>

<div class="badge-container" align="center">
  <a href="https://github.com/Flutter-Global/{{page.repo}}.git" title="Visit repository Github page" target="_blank">
    <img src="https://img.shields.io/badge/Github-%20url-blue"></a> 
  <a href="#capabilities-" title="Go to Capabilities">
    <img src="https://img.shields.io/badge/Capabilities-25-blue" alt="Go to Capabilities"></a> 
  <img src="https://img.shields.io/badge/Repositories-584-blue" alt="Repositories">
</div>

{% if page.description and page.type != "repository" %}
<h2 id="description-">Description <a href="https://github.com/Flutter-Global/{{page.repo}}/blob/master/codebases.json" target="_blank" title="Source: codebases.json > Update this in GitHub"><span uk-icon="icon: info; ratio: 0.7"></span><sub><sup>⚠</sup></sub></a></h2>
{{ page.description }}
{% endif %}

{% if page.owners %}
<h2 id="owner-">Owner <a href="https://github.com/Flutter-Global/{{page.repo}}/blob/master/codebases.json" target="_blank" title="Source: codebases.json > Update this in GitHub"><span uk-icon="icon: info; ratio: 0.7"></span><sub><sup>⚠</sup></sub></a></h2>
<table>
  <thead>
    <th>Name</th>
    <th>GitHub profile</th>
  </thead>
  <tbody>
{% for owner in page.owners %}
    <tr>
      <td>{% if owner.name %} {{ owner.name }} {% else %} {{ owner.github_username }} {% endif %}</td>
      <td><a href="https://github.com/{{ owner.github_username }}" target="_blank">{{ owner.github_username }}</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

{% if page.maintainers %}
<h2 id="maintainers-">Maintainers <a href="https://github.com/Flutter-Global/{{page.repo}}/blob/master/codebases.json" target="_blank" title="Source: codebases.json > Update this in GitHub"><span uk-icon="icon: info; ratio: 0.7"></span><sub><sup>⚠</sup></sub></a></h2>
<table>
  <thead>
    <th>Name</th>
    <th>GitHub profile</th>
  </thead>
  <tbody>
{% for maintainer in page.maintainers %}
    <tr>
      <td>{% if maintainer.name %} {{ maintainer.name }} {% else %} {{ maintainer.github_username }} {% endif %}</td>
      <td><a href="https://github.com/{{ maintainer.github_username }}" target="_blank">{{ maintainer.github_username }}</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}

{% if page.observations %}
<h2 id="observations">Observations</h2>
<ul>
{% for observation in page.observations %}
    <li>{{ observation.description }}</li>
{% endfor %}
</ul>
{% endif %}
{% if page.hierarchy %}
<h2 id="hierarchy">Hierarchy</h2>
<div>
  <strong>Flutter-Global</strong>  <a href="javascript:void(0);" id="expandTreeBtn">[Expand All]</a> <a href="javascript:void(0);" id="collapseTreeBtn">[Collapse All]</a>
  <ul id="hierarchy-tree" class="tree">
    <li>{{ page.repo }}
      <ul>
      {% for root in page.hierarchy %}
        <li class="hierarchy-parent"><span class="symbol"></span><a href="/catalogue-auto/{{ root.capability }}">{{ root.capability }}</a>
          {% if root.repositories %}
            <ul>
            {% for repositories in root.repositories %}
              <li><a href="/catalogue-auto/{{ repositories.repository }}">{{ repositories.repository }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
        </li>
      </ul>
    </li>
  </ul>
</div>
{% endif %}

{% for static_file in site.static_files %}
  {% assign file_path = '/catalogue-auto/plot_' | append: page.repo | append: '.png' %}
    {% if static_file.path == file_path %}
        {% assign plot = true %}
    {% endif %}
{% endfor %}

{% if plot %}
<h2 id="data-analysis">Data Analysis</h2>
<figure data-uk-lightbox="animation: slide">
  <a class="uk-inline" href="/catalogue-auto/plot_{{ page.repo }}.png">
    <img src="/catalogue-auto/plot_{{ page.repo }}.png" alt="{{ page.repo }}" />
    <div class="uk-position-center">
      <span data-uk-overlay-icon></span>
  </div>
  </a>
</figure>
{% endif %}

{% if site.data.statistics.maintainers %}
<h2 id="top-maintainers">Top Maintainers</h2>
{% for root in site.data.statistics.maintainers %}
  {% if root.repo == page.repo %}
  {{ site.data.statistics.maintainers.top }}
    <ol>
    {% for maintainer in root.top %}
      <li>{{ maintainer.name }} - {{ maintainer.reviews }}</li>
    {% endfor %}
    </ol>
  {% endif %}
{% endfor %}
{% endif%}